<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h3>Login</h3>
        <form action="" onsubmit="postLogin(event)">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter Email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="********" required>
            <button type="submit">Login</button>
        </form>
        <a href="http://localhost:7015/signup">New User---Signup</a>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    const api = 'http://localhost:7015/user';

    function postLogin(event) {
        event.preventDefault();
        const user = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        };

        axios.post(`${api}/login`, user)
            .then(response => {
                localStorage.setItem('token', response.data.token);
                window.location.href = '/dashboard';
            })
            .catch(error => {
                console.error(error);
                alert("Login failed");
            });
    }
</script>
</html>
